/*ESTABLISH A BASELINE FOR THE ENTIRE SITE*/
body {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    line-height: 30px;
    color: #FDFFEF;
}
#header {
    height: 300px;
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 15% 0 0 0;
}
#header nav ul li {
    list-style: none;
    display: inline;
    margin-right: 7%;
    font-size: 24px;
    text-align: center;
}
#header a {
    color: #FDFFEF;
}
header {
    background-color: rgba(120, 16, 70, 0.5);
    padding: 10px 0;
    border: 2px solid black;
}
h1, h2 {
    font-family: 'Libre Baskerville', serif;
}
#header h1 {
    font-size: 55px;
    text-shadow: 8px 2px #0F0E11;
}
#work {
    height: 900px;
    background-color: #737373;
    padding: 10px 0;
    overflow: auto;
}
#second-work {
    height: 900px;
    background-color: #737373;
    padding: 10px 0;
    overflow: auto;
}
.work-section {
    height: 200px;
}
#about {
    height: 950px;
    clear: both;
    overflow: auto;
    text-align: center;
    background-color: #737373;
}
#contact {
    height: 250px;
    background-color: #781046;
    text-align: center;
    padding: 3% 0 0 0;
}
#contact nav {
    padding: 0.5px 0;
    margin: 0 auto;
    max-width: 20%;
}
#contact nav ul li {
    display: inline;
    list-style: none;
    margin-right: 25px;
    text-align: center;
}
#contact a {
    color: #FDFFEF;
}
.full-width {
    max-width: 100%;
    width: auto;
}
.half-width {
    max-width: 50%;
    float: left;
    text-align: center;
}
.half-width img {
    height: 200px;
}
#about img {
    height: 250px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
